aniso8601
blinker
click
coverage
Flask
Flask-JWT-Extended
Flask-RESTful
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
PyJWT
pytest
pytest-html
pytest-metadata
pytest-mock
pytz
six
Werkzeug
